---
import BaseLayout from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import { Image } from '@unpic/astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<BaseLayout>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              {post.data.heroImage && <Image width={144} height={144} src={post.data.heroImage} alt="" />}
              <h4>{post.data.title}</h4>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
