---
import SimpleIconsGithub from '~icons/simple-icons/github';
import SimpleIconsLinkedin from '~icons/simple-icons/linkedin';
import SimpleIconsTwitter from '~icons/simple-icons/twitter';

const today = new Date();
---

<footer class="flex w-full items-center gap-4 border-t p-4">
  <div class="container flex items-center justify-end gap-3">
    <a href="https://github.com/tnfssc" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Go to sharath's GitHub</span>
      <SimpleIconsGithub class="h-5 w-5" />
    </a>
    <a href="https://x.com/tnfssc" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Go to sharath's Twitter</span>
      <SimpleIconsTwitter class="h-5 w-5" />
    </a>
    <a href="https://www.linkedin.com/in/tnfssc/" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Go to sharath's LinkedIn</span>
      <SimpleIconsLinkedin class="h-5 w-5" />
    </a>

    <div>
      &copy; {today.getFullYear()}
      <a href="https://sharath.uk" target="_blank" rel="noopener noreferrer">Sharath</a>
    </div>
  </div>
</footer>
