---
import HeaderLink from '@/components/HeaderLink.astro';
import { Image } from 'astro:assets';

import MdiOpenInNewIcon from '~icons/mdi/open-in-new';

import SimpleIconsGithub from '~icons/simple-icons/github';
---

<header>
  <nav class="flex w-full items-center gap-4 border-b p-4">
    <div class="flex-1">
      <a class="flex w-12 items-center gap-4 hover:underline" href="/">
        <span class="sr-only">Go to this blog's homepage</span>
        <Image loading="eager" src="/icon.png" width={128} height={128} alt="blog.sharath.uk logo" />
        <span class="hidden text-2xl md:block">blog.sharath.uk</span>
      </a>
    </div>
    <div class="flex gap-4">
      <HeaderLink
        class="flex flex-row items-center gap-2 text-xl hover:underline"
        href="https://sharath.uk"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>sharath.uk</span>
        <MdiOpenInNewIcon width={16} height={16} />
      </HeaderLink>
    </div>
    <div>
      <a href="https://github.com/tnfssc/blog.sharath.uk" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">Go to this blog's GitHub repo</span>
        <SimpleIconsGithub class="h-10 w-10" />
      </a>
    </div>
  </nav>
</header>
