---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';

import { env } from '@/conf';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = env.SITE_TITLE, description = env.SITE_DESCRIPTION, image = '/icon-invert.png' } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="flex h-screen flex-col overflow-auto">
    <Header />
    <main class="container mx-auto flex-1 p-6">
      <slot />
    </main>
    <Footer />
    <img alt="view-count-spy" src="https://sharathuk-api.tnfssc.workers.dev/view-count/increment?name=blog.sharath.uk" class="hidden" />
  </body>
</html>
