---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/icon.png' } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main class="prose dark:prose-invert container mx-auto p-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
